.reset-password-page-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-page-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .reset-password-page-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-page-container form div {
    margin-bottom: 15px;
  }
  
  .reset-password-page-container form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .reset-password-page-container form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .reset-password-page-container form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin-top: 20px;
  }
  
  .reset-password-page-container form button:hover {
    background-color: #333;
  }
  
  .reset-password-page-container form p {
    color: rgb(8, 8, 8);
    text-align: center;
    margin-top: -10px;
  }
  